<section class="min-h-screen bg-[#111827] text-white flex">

  <aside class="w-64 bg-[#1f2937] border-r border-gray-700 p-6">

    <h2 class="text-xl font-bold mb-6">
      SIG-GCM
    </h2>

    <nav class="flex flex-col gap-3">

      <a
        routerLink="/dashboard"
        class="bg-gray-700 hover:bg-gray-600 px-4 py-3 rounded-lg"
      >
        Diretoria Operacional
      </a>

      <a
        routerLink="/guardas"
        class="bg-blue-700 hover:bg-blue-800 px-4 py-3 rounded-lg"
      >
        Gerenciar Guardas
      </a>

      <a
        routerLink="/guardas/cadastro"
        class="bg-green-700 hover:bg-green-800 px-4 py-3 rounded-lg"
      >
        Cadastrar Guarda
      </a>

      <a
        routerLink="/auth/login"
        class="bg-red-700 hover:bg-red-800 px-4 py-3 rounded-lg"
      >
        Sair
      </a>

    </nav>

  </aside>

  <main class="flex-1 flex flex-col items-center justify-start p-10">

    <img
      src="/imagens/logo-sig-gcm.jpeg"
      alt="Logo SIG-GCM"
      class="w-44 h-44 object-contain rounded-2xl border-4 border-blue-500 shadow-2xl mb-6"
    />

    <h1 class="text-3xl font-bold mb-3">
      SIG-GCM
    </h1>

    <p class="text-gray-300 text-center max-w-2xl">
      Bem-vindo ao Sistema de Gestão da Guarda Civil Municipal.
    </p>

  </main>

</section>